{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Web</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/arch.css' %}">
    </head>
    <body>
        <h1>Title</h1>
       <!-- <nav>
            <li><a href="{% url 'init' %}">inicio</a></li>
        </nav>-->
     <!--   <nav>
            <li><a href="">inicio</a></li>
            <li><a href="">nosotros</a></li>
            <li><a href="">quienes somos</a></li>
            <li><a href="">contacto</a></li>
        </nav> -->
        <header>
           <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas, dolores? Tenetur quam ea porro, ut laborum labore quae! Odio quam in quod impedit reprehenderit deleniti itaque! Voluptas unde porro molestiae!</h2>
        </header>
        <footer>
            <h3></h3>
           <!-- <img src="imagen" alt="">-->
            <h1>footer</h1>
        </footer>
    </body>
</html>



